$black: #1c1c1c;
$gray: #444;
$yellow: #fff63a;
$darkyellow: #d0c71a;
$orange: #da8833;

html {
  font-size: 16px;
}

body {
  margin: 0;
  color: $gray;
  font-size: 1.1rem;
  line-height: 1.6;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.container {
  padding: 0 2em;
  margin: 0 auto;
  max-width: 60em;
}

header{
  background: $black;

  .container {
    padding-top: 1.53em;
    display: flex;
    justify-content: space-between;
  }

  .site-title-wrapper {
    .site-title {
      margin: 0;
      a {
        color: $yellow;
        text-decoration: none;
      }
    }
    p {
      font-size: 2em;
      font-weight: bold;
    }
    .tagline {
      padding: 0 0 2em;
      margin: 0;
      color: #fff;
      font-weight: normal;
      font-size: 1em;
    }
  }
  .site-nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin: 0 0 0 1em;
        display: inline-block;
        a {
          padding: 0 0 2px;
          color: #fff;
          font-weight: bold;
          font-size: 1.15rem;
          text-decoration: none;
          &.active,
          &:hover {
            color: $yellow;
            border-bottom: 1px solid $yellow;
          }
        }
      }
    }
  }
}

main {
  padding: 2em 0 4em;
  background: #f3f3f3;
  min-height: 22em;

  .container {
    @media (min-width: 576px) { max-width: 540px; }
    @media (min-width: 768px) { max-width: 720px; }
    @media (min-width: 992px) { max-width: 960px; }
    @media (min-width: 1200px) { max-width: 1140px; }
  }

  // post title
  h2 {
    margin: .5em 0 0;
  }

  a {
    color: $gray;
    &:hover {
      color: $darkyellow;
    }
  }
  p {
    margin: 0 0 1em;
  }

  code,
  pre {
    background: #e2dddd;
        display: inline-block;
        border: 1px solid #291414;
        padding: 1em;
  }

  // archive
  .archiveLink {
    display: flex;
    align-items: flex-start;

    .post-date {
      display: inline-block;
      width: 75px;
      color: #a7a4a4;
    }
    a {
      display: inline-block;
      max-width: calc(100% - 75px);
    }
  }


}

footer {
  background: $black;
  p {
    padding: 3em 0;
    margin: 0;
    color: #fff;
    a {
      color: $yellow;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
